/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

nav#nav-bar
{
    background-color: #003e7e;
}

/*div#bootstrap-overrides {width:500px; margin: 0 auto;}
div#bootstrap-overrides.accordion-toggle {border-bottom: 1px solid #cccccc;cursor: pointer;margin: 0;padding: 10px 0;position: relative;}
div#bootstrap-overrides.accordion-toggle.active:after{content:"";position:absolute;right:0;top:17px;width:0;height:0;border-bottom:5px solid #f00;border-left:5px solid rgba(0,0,0,0);border-right:5px solid rgba(0,0,0,0);}
div#bootstrap-overrides.accordion-toggle:before{content:"";position:absolute;right:0;top:17px;width:0;height:0;border-top:5px solid #000;border-left:5px solid rgba(0,0,0,0);border-right:5px solid rgba(0,0,0,0);}
div#bootstrap-overrides.accordion-toggle.active:before{display:none;}
div#bootstrap-overrides.accordion-content {display: none;}
div#bootstrap-overrides.accordion-toggle.active {color: #ff0000;}

.accordion{margin: 0 auto;}
.accordion-toggle {border-bottom: 1px solid #cccccc;cursor: pointer;margin: 0;padding: 10px 0;position: relative;}
.accordion-toggle.active:after{content:"";position:absolute;right:0;top:17px;width:0;height:0;border-bottom:5px solid #f00;border-left:5px solid rgba(0,0,0,0);border-right:5px solid rgba(0,0,0,0);}
.accordion-toggle:before{content:"";position:absolute;right:0;top:17px;width:0;height:0;border-top:5px solid #000;border-left:5px solid rgba(0,0,0,0);border-right:5px solid rgba(0,0,0,0);}
.accordion-toggle.active:before{display:none;}
.accordion-content {display: none;}
.accordion-toggle.active {color: #ff0000;}*/

hr.content-divider
{
    border-top: 3px solid #cecece;
    margin-top: 0px;
    margin-bottom: 0px;
}

body
{
    min-height: 100%;
    margin: 0;
/*    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;*/
}

#wrapper
{
    min-height: 100%;
    margin-bottom: -81px;  /* This needs to be the negative value of the footer height. */
}

#footer
{
    background-color: #003e7e;
    height: 81px;
}

.footer-menu-items
{
    text-align: center; 
    color: rgb(128, 144, 165);
}